body{
  background: url(../img/arches.png) repeat;
}
.content{
	background: #fff;
	position: relative;
	width: 682px;
	margin: 0px auto;
	padding: 10px 20px 10px 20px;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 9px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 9px rgba(50, 50, 50, 0.75);
}
pre {
  white-space: pre-wrap;
  border: 1px solid #999;
  page-break-inside: avoid;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;  
}
textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  overflow: auto;
  vertical-align: top;
}
.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  margin-top: 15px;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  border-radius: 6px;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
  -webkit-backface-visibility: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  cursor: pointer;
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}

.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary {
  background-color: #1abc9c;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #48c9b0;
}
.btn.btn-primary:active,
.btn-group.open .btn.btn-primary.dropdown-toggle,
.btn.btn-primary.active {
  background-color: #16a085;
}
.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #5dade2;
}
.btn.btn-info:active,
.btn-group.open .btn.btn-info.dropdown-toggle,
.btn.btn-info.active {
  background-color: #2c81ba;
}

.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn-group:focus .btn.btn-success.dropdown-toggle {
  background-color: #58d68d;
}
.btn.btn-success:active,
.btn-group.open .btn.btn-success.dropdown-toggle,
.btn.btn-success.active {
  background-color: #27ad60;
}

textarea {
  border-radius: 2px;
  background: url(../img/tiny_grid.png);
  background-attachment: local;
  font-size: 15px;
  line-height: 26px;
  padding: 5px 11px;
}
.form-control:-moz-placeholder {
  color: #b2bcc5;
}
.form-control::-moz-placeholder {
  color: #b2bcc5;
}
.form-control:-ms-input-placeholder {
  color: #b2bcc5;
}
.form-control::-webkit-input-placeholder {
  color: #b2bcc5;
}
.form-control.placeholder {
  color: #b2bcc5;
}
.form-control {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding: 8px 12px;
  height: 41px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  -moz-transition: border .25s linear, color .25s linear, background-color .25s linear;
  -o-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
  -webkit-backface-visibility: hidden;
}